<!DOCTYPE html>
<html lang="en">
<head>
 <% include partials/head %>
</head>
<body>
<% include partials/menu %>
<div class="container-fluid bg-3 text-center">
  <h3><%= page %></h3><br>
  <div class="row">
    <div class="col-sm-4 thumbnail">
      <img src="images/YItao.png" alt="ooops" class = 'profilepic'>
    </div>
    <div class="col-sm-4 thumbnail">
      <p>Hi, I'm Yitao Wu.</p>
      <p>I recently graduated from University of Southern California.</p>
      <p>Please browse around my website to view my portfolio.</p>
    </div>
    <div class="col-sm-4 thumbnail">
      <p></p>
    </div>
  </div>
</div>
</body>
<% include partials/script %>
</html>
