<!DOCTYPE html>
<html lang="en">
<head>
 <% include partials/head %>
</head>
<body>
<% include partials/menu %>
<div class="container-fluid bg-3 text-center">
  <h3><%= page %></h3><br>
  <div class="row">
    <div class="col-sm-4 thumbnail">
      <img src="images/node.png" alt="ooops">
    </div>
    <div class="col-sm-4 thumbnail">
      <a href="https://github.com/wyt123469336">my github link</a>
    </div>
    <div class="col-sm-4 thumbnail">
      <img src="images/node.png" alt="ooops">
    </div>
  </div>
</div>
</body>
<% include partials/script %>
</html>
